/* Custom CSS */
/*HEAVY WIP, sorting not complete. Add these entrys into the Custom CSS Rules Sheet - Only works well in tandem with Ernie's Modern UI - Please See the Readme!/

/*Here I either define oder overwrite root color settings that stem from baseline Foundry*/
.root {
    --sidebar-width: 270px;
}

.system-dnd5e {
    --color-text-creme: #FFF0CA;
    --color-background-braun: #322C27;
    --color-background-dunkel: #1C1C1C;
    --color-background-dunkel-mild: #232323;
    --color-text-gruen: #77CE77;
    --color-text-blau: #69B7FF;
    --color-text-rot: #FF6161;
    --color-text-gelb: #F3D876;
    --background: #232323;
    --color-text-tuerkis: #8CFFFF;
    --color-orange: #F2AB76;
    --color-dunkelrot: #501515;
    --color-dunkelrot-dunkler: #241C1C;
    --color-dunkelgruen: #1F241C;
    --color-dunkellila: #23182F;
    --color-border-light-primary: #6C5848;
    --color-dunkelblau: #191E21;
    --primary-font: #DDDDDD;
    --tertiary-color: #DDDDDD;
    --secondary-color: #DDDDDD;
    --faint-color: #322C27;
    --header-background: #232323;
    --primary-font: #DDDDDD;
    --primary-accent: #FF913F;
}

.system-dnd5e.tidy5eDark {
    --tertiary-color: #DDDDDD;
    --light-color: #6C5848;
    --prepared: #301e13;
    --always-prepared-outline: #F3D876;
    --always-prepared-accent: #F3D876;
    --always-prepared: #322a1a;
    --exhaustion-font: #DDDDDD;
    --encumbrance-bar: #501515;
    --encumbrance-bar-outline: #501515;
    --note-background: #232323;
    --xp-bar: #77CE77;
    --prepared-outline: #2D842D;
    --attunement-required: #FF5555;
    --icon-attuned: #77CE77;
    --encumbrance-outline: #000000;
    --warning-accent: #FF6161;
    --exhaustion-lvl1: #504A15;
    --exhaustion-lvl2: #503815;
    --exhaustion-lvl3: #501515;
    --safe-accent: #FF913F;
    --unsafe-accent: #501515;
    --prepareable: #232323;
    --faintest-color: #232323;
    --checkbox-font: #DDDDDD;
    --checkbox-checked: #274714;
    --icon-outline: #000000;
    --icon-font: #000000;
}


/* -------------------- DnD 5E Ruleset -------------------- */
.dnd5e.chat-card {
    background: #232323;
}

body.-emu #sidebar [data-tab="chat"] #chat-log .message .message-header,
body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .message-header {
    background-color: var(--background);
    color: var(--primary-font);
    border-radius: 2px;
}

.rsr5e-roll-label {
    border-bottom: 1px solid var(--light-color);
}



.dnd5e.chat-card .card-header h3:hover {
    color: var(--color-text-creme);
    text-shadow: none;
}

.dnd5e.chat-card .card-header h3 {
    flex: 1;
    margin: 0;
    line-height: 36px;
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;
    font-size: var(--font-size-20px);
    color: var(--color-text-creme);
    background: ##501546;
}

.-emu-layout body.-emu.system-dnd5e #sidebar .dnd5e.chat-card.item-card .card-header h3,
.-emu-layout body.-emu.system-dnd5e .sidebar-popout .dnd5e.chat-card.item-card .card-header h3 {
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;

    color: var(--color-text-creme);
    background: #501546;
    justify-content: flex-start;
}

.-emu-layout body.-emu.system-dnd5e #sidebar .dnd5e.chat-card.item-card .card-content,
.-emu-layout body.-emu.system-dnd5e .sidebar-popout .dnd5e.chat-card.item-card .card-content {
    margin: var(--emu-space-base, 4px) 0;
    color: var(--color-text-creme);
}

.prosemirror.editing-source textarea {
    color: #DDDDDD;
}

/* -------------------- Text Selection -------------------- */
p::selection {
    color: var(--color-orange);
    background-color: transparent;
}

/*--------------------------------- Tidy 5E Sheet ---------------------------------*/
/*This first part overwrites color settings within Tidy 5E Sheet on a more global scale*/
.tidy5e.sheet.actor .traits .configure-flags {
    border: 1px solid var(--faint-color);
    border-radius: 0 0 2px 2px;
}



/*Here begins the more fingrained work in no particular order*/



.tidy5e.sheet.item .sheet-body .tab.item-betterRolls .form-group label,
.tidy5e.sheet.item .sheet-body .tab.details .form-group label,
.tidy5e.sheet.item .sheet-body .tab.advancement .form-group label,
.tidy5e.sheet.item .sheet-body .tab.dynamiceffects .form-group label,
.tidy5e.sheet.item .sheet-body .tab.magic-items .form-group label {
    margin-left: 4px;
    line-height: 20px;
    font-size: 13px;
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;
    font-weight: normal;
    a color: var(--secondary-color);
    white-space: nowrap;
}


.tidy5e.sheet.actor .profile.disable-hp-overlay .counter-value,
.tidy5e.sheet.actor .profile.disable-hp-overlay.dead .counter-value {
    background: var(--color-background-dunkel-mild);
    border-style: double;
    border-color: var(--color-text-rot);
    padding: 0 0.5rem;
    border-width: 3px;
    border-radius: 2px;
}



.tidy5e.sheet.actor .portrait-hp .hp-bar {
    background: rgb(0, 63, 0);
}

.tidy5e.sheet.actor .items-list .item.equipped,
.tidy5e.sheet.actor .items-list .item.prepared {
    background: var(--prepared);
    border-right-style: solid;
    border-color: #FF913F;
    padding: none;
    border-width: 6px;
    border-radius: 1px;
    margin-right: -6px;
}

.tidy5e.sheet.actor .items-list .item.alwaysPrepared {
    background: #2b0909;
    border-right-style: solid;
    border-color: var(--color-text-rot);
    padding: none;
    border-width: 6px;
    border-radius: 1px;
    margin-right: -6px;
}

.tidy5e.sheet.actor .list-layout .items-list .item.magic-item {
    background: #292518;
    border-right-style: solid;
    border-color: var(--color-text-gelb);
    padding: none;
    border-width: 6px;
    border-radius: 1px;
    box-shadow: none;
    margin-right: -6px;
}

.tidy5e.sheet.actor .list-layout .items-list .item {
    border-radius: 2px;
}

.tidy5e.sheet.actor .char-name {
    color: var(--color-text-creme);
}

.tidy5e.sheet.actor .level {
    padding: 2px 6px;
    border-radius: 2px;
    background: var(--color-background-braun);
    color: var(--color-text-creme);
}

.tidy5e.sheet.actor .resting {
    border-radius: 0 2px 0 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tidy5e.sheet.actor .exhaustion-wrap {
    border-radius: 2px 0 2px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tidy5e.sheet.actor.npc .level-information .level [contenteditable] {
    color: var(--color-text-rot);
}

.tidy5e.sheet.actor .portrait-hd .current-hd {
    color: var(--color-text-tuerkis);
}

.tidy5e.sheet.actor .portrait {
    width: 100%;
    height: 100%;
    border-radius: 1px;
    overflow: hidden;
    border: 1px solid var(--icon-outline);
    position: relative;
    mix-blend-mode: normal;
    z-index: 2;
}

.tidy5e.sheet.actor .portrait-hp input,
.tidy5e.sheet.actor .portrait-hp span {
    font-family: var(--modesto);
    height: 100%;
    font-weight: 700;
    width: 40px;
    color: var(--color-text-gruen);
}

.tidy5e.sheet.actor .resting {
    color: var(--color-text-blau);
}

.tidy5e.sheet.actor .ability-scores .ability .ability-name {
    color: var(--color-text-creme);
}

.tidy5e.sheet.actor .attribute-name {
    color: var(--color-text-creme);
}

.tidy5e.sheet.actor .ability-scores .ability .ability-score {
    margin: 1px 0 5px 0;
    padding: 2px 0 0 0;
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;
    font-weight: 400;
}

.tidy5e.sheet.actor .header-attributes .value {
    font-size: 24px;
    margin: 1px 0 0px 0;
}

.tidy5e.sheet.actor .header-attributes .ac-display svg path {
    fill: var(--color-background-dunkel-mild);
}

.tidy5e.sheet.actor .header-attributes .ac-display .attribute-value {
    position: absolute;
    top: 37%;
    left: 50%;
    color: var(--color-text-gelb);
}

.tidy5e.sheet.actor .traits.show-labels label span {
    display: inline-block;
    margin-left: 4px;
    font-weight: 700;
    color: var(--color-text-creme);
}

.tidy5e.sheet.actor .traits .tag {
    margin-right: 4px;
    font-family: "Calibri", sans-serif;
    color: var(--primary-font);
}

.tidy5e.sheet.actor .skills-list .skill .skill-name {
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;
    color: var(--color-text-creme);
}

.tidy5e.sheet.actor .items-list .items-header {
    margin: 8px 0 2px 0;
    padding: 4px 0 2px 6px;
    line-height: 12px;
    font-size: 12px;
    background: var(--color-background-braun);
    -webkit-box-shadow: 0 0 0px inset var(--color-background-dark);
    box-shadow: 0 0 0px inset var(--color-background-dark);
    border-radius: 1px;
    color: var(--color-text-creme);
}

.tidy5e.sheet.actor .resources .resource .resource-name input {
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    height: 18px;
    color: var(--color-text-creme);
}

.tidy5e.sheet.actor .attuned-items-counter {
    border-radius: 1px;
    background: var(--faint-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid var(--color-text-gelb);
}

.tidy5e.sheet.actor .movement-primary,
.tidy5e.sheet.actor .movement-special {
    color: var(--color-text-blau);
}

.tidy5e.sheet.actor .header-attributes .value-footer {
    font-size: 12px;
    line-height: 14px;
    color: var(--primary-font);
}

.tidy5e.sheet.actor .resources .resource .resource-value.multiple input {
    font-size: 22px;
    max-width: 3.5ch;
    height: 22px;
    padding-top: 2px;
    color: var(--color-text-gelb);
}

.tidy5e.sheet.actor .list-layout .items-list .item {
    border-radius: 1px;
}

.tidy5e.sheet.actor .items-list .item .item-name .item-image {
    border-radius: 1px 0px 0px 1px;
}

.tidy5e.sheet.actor .skills-list {
    border-radius: 1px;
}

.tidy5e.sheet.actor .traits {
    border-radius: 1px;
}

.tidy5e.sheet.actor .items-list .items-header-labels {
    color: var(--color-text-creme);
}

.tidy5e.sheet.actor .center-pane .resources {
    border-radius: 1px;
}

.tidy5e.sheet.actor .inventory-currency .currency-item {
    border-radius: 1px;
}

.tidy5e.sheet.actor .inventory-currency .currency-item a {
    display: block;
    background: var(--color-background-braun);
    color: var(--color-text-blau);
    border-radius: 1px;
}

.tidy5e.sheet.actor .encumbrance .encumbrance-label {
    border-radius: 1px;
    color: var(--primary-font);
    text-shadow: none;

}

.tidy5e.sheet.actor .note-entries article {
    background: var(--color-background-dunkel-mild);
    border-radius: 1px;
}

.tidy5e.sheet.actor ul {
    list-style: none;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

.tidy5e.sheet.actor .spellcasting-ability h3 {
    margin-right: 10px;
    font-size: 18px;
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;
}

.tidy5e.sheet.actor .items-list .item .context-menu a.warning {
    background: var(--warning-accent);
    color: #000000;
}

.tidy5e.sheet.actor.npc .unlinked {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tidy5e.sheet.actor .tidy5e-navigation .item {
    border-bottom: 1px solid var(--color-text-creme);
}

.tidy5e.sheet.actor .tidy5e-navigation .toggle-allow-edit {
    border-bottom: 1px solid var(--color-text-creme);
}

.tidy5e.sheet.actor .tidy5e-navigation .toggle-allow-edit span {
    border-radius: 2px;
    background: #085c03
}

.tidy5e.sheet.actor.npc .unlinked .link-state.fa-unlink {
    background: #501515;
}

.tidy5e.sheet.actor .origin-summary .proficiency {
    color: var(--color-text-tuerkis);
}

.tidy5e.sheet.actor .spell-component.C,
.tidy5e.sheet.actor .spell-component.R {
    background: var(--color-text-blau);
    border-radius: 1px;
    color: #000000;
}

.tidy5e.sheet.actor .list-layout .items-list .items-footer a {
    color: var(--secondary-color);
    border-radius: 1px;
}

.tidy5e.sheet.actor .xp-bar-total {
    width: 100%;
    height: 5px;
    border: 1px solid var(--color-background-dunkel-mild);
    border-radius: 1px;
    background: var(--color-background-dunkel);
}

.tidy5e.sheet.actor .items-list .items-header .spellSlotMarker .dot {
    border: 1px solid var(--color-background-dunkel);
}

.tidy5e.sheet.actor .class-list {
    color: #A8B6FF;
}

/*Item Sheet*/
.tidy5e.sheet.item .sheet-body .tab.item-betterRolls .form-group select,
.tidy5e.sheet.item .sheet-body .tab.item-betterRolls .form-group input[type=text],
.tidy5e.sheet.item .sheet-body .tab.item-betterRolls .form-group button,
.tidy5e.sheet.item .sheet-body .tab.details .form-group select,
.tidy5e.sheet.item .sheet-body .tab.details .form-group input[type=text],
.tidy5e.sheet.item .sheet-body .tab.details .form-group button,
.tidy5e.sheet.item .sheet-body .tab.advancement .form-group select,
.tidy5e.sheet.item .sheet-body .tab.advancement .form-group input[type=text],
.tidy5e.sheet.item .sheet-body .tab.advancement .form-group button,
.tidy5e.sheet.item .sheet-body .tab.dynamiceffects .form-group select,
.tidy5e.sheet.item .sheet-body .tab.dynamiceffects .form-group input[type=text],
.tidy5e.sheet.item .sheet-body .tab.dynamiceffects .form-group button,
.tidy5e.sheet.item .sheet-body .tab.magic-items .form-group select,
.tidy5e.sheet.item .sheet-body .tab.magic-items .form-group input[type=text],
.tidy5e.sheet.item .sheet-body .tab.magic-items .form-group button {
    background: var(--color-background-dunkel);
    height: 20px;
    font-size: 13px;
}

/*Checkboxes*/
.tidy5e.sheet.item .sheet-body .tab.item-betterRolls .form-group label.checkbox,
.tidy5e.sheet.item .sheet-body .tab.details .form-group label.checkbox,
.tidy5e.sheet.item .sheet-body .tab.advancement .form-group label.checkbox,
.tidy5e.sheet.item .sheet-body .tab.dynamiceffects .form-group label.checkbox,
.tidy5e.sheet.item .sheet-body .tab.magic-items .form-group label.checkbox {
    border-radius: 1px;
}


/* -------------------- Ernie's Modern UI ---------------------------------*/
body.-emu #sidebar [data-tab="chat"] #chat-log .message .dice-roll .dice-total.critical,
body.-emu #sidebar [data-tab="chat"] #chat-log .message .dice-roll .dice-total.success,
body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .dice-roll .dice-total.critical,
body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .dice-roll .dice-total.success {
    background-color: #1F241C;
    border-color: 1px solid #77CE77;
    color: var(--primary-font);
}

body.-emu .window-app {
    border: rgba(var(--color-border), 1) 3px double;
}


.-emu-layout body.-emu #sidebar [data-tab="chat"] #chat-log .message .dice-roll .dice-formula,
.-emu-layout body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .dice-roll .dice-formula {
    background-color: var(--color-background-dunkel);
}

body.-emu .dialog a[href],
body.-emu #sidebar a[href],
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) a[href] {
    color: #7ED8FF;
    text-decoration: none;
    text-shadow: none;
}

body.-emu #sidebar [data-tab="combat"] #combat-tracker .combatant.defeated.active .combatant-control.active,
body.-emu .sidebar-popout[id="combat-popout"] .window-content [data-tab="combat"] #combat-tracker .combatant.defeated.active .combatant-control.active {
    background-color: red;
    color: black;
}

.-emu-layout body.-emu .dialog p,
.-emu-layout body.-emu #sidebar p,
.-emu-layout body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) p {
    background: var(--color-background-dunkel-mild);
}

aside.rules-text {
    color: #DDDDDD;
}


/* Chat Cards */
body.-emu #sidebar [data-tab="chat"] #chat-log .message,
body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message {

    background-image: var(--emu-image-background-light, none);
    border-top: 3px solid var(--color-border-light-primary);
    border-bottom: 3px solid var(--color-border-light-primary);
    border-radius: 5px;
    border-style: solid;
    color: rgba(var(--color-text), 1);
}


#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: var(--sidebar-width);
    height: calc(100%);
    width: 305px;
    overflow: hidden;
    margin: 0px;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    padding: 0px 0px 0px 5px;
}

body.-emu #sidebar [data-tab="chat"] #chat-log .message .dice-roll .dice-formula,
body.-emu #sidebar [data-tab="chat"] #chat-log .message .dice-roll .dice-total,
body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .dice-roll .dice-formula,
body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .dice-roll .dice-total {
    border: none;
}

.-emu-layout body.-emu #sidebar [data-tab="chat"] #chat-log .message .dice-roll .dice-total,
.-emu-layout body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .dice-roll .dice-total {
    background-color: var(--color-background-dunkel);
}




/*AE Marker*---------------------------------*/
.tidy5e.sheet.actor .ae-marker {
    background: var(--color-text-creme);
    color: black;
    border-radius: 3px;
}

/* -------- Header of window frames
body.-emu .window-app .window-header {
    background: var(--color-background-dunkel-mild);
}*/


/* -------------------- xXxXx ---------------------------------*/
a.content-link,
a.inline-roll {
    background: var(--color-background-dunkel);
    padding: 1px 4px;
    border: 1px solid var(--color-border-highlight);
    border-radius: 1px;
    white-space: nowrap;
    word-break: break-all;
}

.sheet.journal-entry .journal-entry-content {
    height: 100%;
    background: #232323;
    border: 0px solid #000;
    border-radius: 1px 0 0 0;
}

#keybindings .binding .key.uneditable {
    background: var(--background);
}





h3 {
    border-bottom: 1px solid var(--color-text-light-7);
}

#requestsavingthrow .request-grid>div {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
    color: var(--primary-font);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:host, :root {
    --modesto: "Calibri", sans-serif;
    --signika: "Calibri", sans-serif;
    --font-primary: "Calibri", sans-serif;
    --font-mono: "Calibri", sans-serif;
    --font-awesome: "Calibri", sans-serif;
}

.system-dnd5e.tidy5eDark {
    --modesto: "Calibri", sans-serif;
    --signika: "Calibri", sans-serif;
    --font-primary: "Calibri", sans-serif;
    --font-mono: "Calibri", sans-serif;
    --font-awesome: "Calibri", sans-serif;

}
.system-dnd5e {
    --modesto: "Calibri", sans-serif;
    --signika: "Calibri", sans-serif;
    --font-primary: "Calibri", sans-serif;
    --font-mono: "Calibri", sans-serif;
    --font-awesome: "Calibri", sans-serif;
}

.monks-tokenbar .sheet .items-list .item .item-name {
    color: var(--primary-font);
}

.tidy5e.sheet.item .sheet-header .summary li {
    font-type: 400;
}

.monks-tokenbar .sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: var(--primary-font);
}

#vtta-tokenizer div.menu {
    background-color: #322C27;
}

#vtta-tokenizer div.view-layer-control {
    background-color: #322C27;
    border-bottom: thin solid rgb(255, 240, 202);
}

#vtta-tokenizer div.section {
    background-color: #232323;
    border: thin solid rgb(35, 35, 35);
}

#vtta-tokenizer div.view-layer-control .section,
#vtta-tokenizer .section {
    border: thin solid rgb(35, 35, 35);
    background-color: #232323;
}

.app.window-app.randomtarget .target-item label {
    color: var(--primary-font);
}

.chat-message {
    color: var(--primary-font);
}



.chat-message .message-header {
    line-height: 20px;
    color: #FFF0CA;
}


/* -------- Damage Log ---------------------------------*/
.message.damage-log.healing {
    background: #1F241C;
}

.message.damage-log.damage {
    background: #2c1414;
}

.message.damage-log.reverted.damage {
    background: #2e0736;
}

/*----------- Always HP ---------------------------------*/

#always-hp .resource .bar {
    border: 1px solid solid #000000;
    border-radius: 1px;
    background-color: #77CE77;
}

#always-hp .window-header .token-stats .stat {
    border-radius: 1px;
    color: #000000;
    background-color: #1C1C1C;
}

#always-hp .resource .bar-change {
    /* display: none; */
    top: 11px;
    background: var(--color-background-dunkel-mild);
}

#always-hp .resource .temp-bar {
    background-color: var(--color-text-blau);
    border-radius: 1px;
}

/*----------- xXxXx ---------------------------------*/

.death-savingthrow>div {
    border: 1px solid #DDDDDD;
    background-color: #000000;
}

.death-savingthrow.save>div.active {
    border: 1px solid black;
    background-color: var(--color-text-gruen);
}

.death-savingthrow>div.active {
    border: 1px solid black;
    background-color: var(--color-text-rot);
}




.dice-tooltip .part-header .part-flavor {
    color: var(--primary-font);
}




#common-display-toolbar {
    background: #322C27;
    border: 1px solid #6C5848;
    box-shadow: 0 0 0px #444 inset;
    border-radius: 1px;
}

#common-display-toolbar .common-button-group .header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: var(--primary-font);
    background-color: #1C1C1C;
    border: 1px solid #000000;
}

#common-display-toolbar .common-display-button.toggle.active {
    background: #1C1C1C;
    border: 1px solid #000000;
    box-shadow: 0 0 0px #000000;
    color: 000000;
}

#common-display-toolbar .common-button-group .content.active {
    background-color: #1C1C1C;
}

#common-display-toolbar .common-button-group .content {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border: 1px solid #F3D876;
}

/*---------- Token Bar ---------------------------------*/
#tokenbar .bar-controls {
    margin: 0 2px;
    text-align: center;
    color: #c9c7b8;
    background: #322C27;
    border: 1px solid #6C5848;
    box-shadow: none;
    border-radius: 1px;
}

#tokenbar .token {
    border: 1px solid #6C5848;
    border-radius: 1px;
    background: #322C27;
    box-shadow: none;
}



body.-emu .window-app {
    box-shadow: 0 0px 0px rgba(var(--color-black), 1);
}

.action-pack__container {
    background: #232323;
    border: 1px solid #6C5848;
    transition: bottom 0.0s;
    color: var(--primary-font);
}

.action-pack__container h2 {
    background-color: #322C27;
    border: 1px solid #6C5848;
    border-radius: 1px;
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;
    font-size: var(--font-size-17px);
}

.action-pack__container h1 {
    font-family: "Calibri Black", sans-serif;
    color: var(--primary-font);
    font-size: var(--font-size-17px);
}

.item-piles-even-color:nth-child(even) {
    background-color: #322C27;
}

.item-piles-even-color:nth-child(odd) {
    background-color: #453B32;
}



body.-emu .dialog input[type="text"],
body.-emu .dialog input[type="number"],
body.-emu .dialog input[type="date"],
body.-emu .dialog input[type="time"],
body.-emu .dialog input[type="password"],
body.-emu .dialog input[type="datetime-local"],
body.-emu .dialog input[type="search"],
body.-emu #sidebar input[type="text"],
body.-emu #sidebar input[type="number"],
body.-emu #sidebar input[type="date"],
body.-emu #sidebar input[type="time"],
body.-emu #sidebar input[type="password"],
body.-emu #sidebar input[type="datetime-local"],
body.-emu #sidebar input[type="search"],
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) input[type="text"],
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) input[type="number"],
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) input[type="date"],
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) input[type="time"],
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) input[type="password"],
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) input[type="datetime-local"],
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) input[type="search"],
body.-emu #hud input[type="text"],
body.-emu #sidebar [data-tab="chat"] section.dice-tray input.dice-tray__input,
body.-emu .sidebar-popout [data-tab="chat"] section.dice-tray input.dice-tray__input,
body.-emu .monsterblock.sheet.actor nav.switches ul li .switch-input,
body.-emu #client-settings.window-app.form .window-content #config-tabs div.tab[data-tab="modules"] #searchField #searchInput {
    background: black;
    border: 0px solid #FFF0CA;
    border-radius: var(--emu-border-radius-forms, 0);
    box-shadow: none;
    color: rgba(var(--color-text), 1);
    transition: box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Anonymous Module---------------------------------*/
.anonymous-replaced {
    background-color: #322C27;
}

body.-emu #sidebar [data-tab="chat"] #chat-log .message .dice-roll .dice-total.fumble,
body.-emu #sidebar [data-tab="chat"] #chat-log .message .dice-roll .dice-total.failure,
body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .dice-roll .dice-total.fumble,
body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .dice-roll .dice-total.failure {
    background-color: #501515;
    border-color: #FF6161;
}




.rsr-dual .dice-row .failure {
    color: #FF6161;
}

.rsr-dual .mixed {
    color: var(--color-text-rot);
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;
}

.rsr-dual .dice-row .success {
    color: #77CE77;
}



input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="search"] {
    width: calc(100% - 2px);
    min-width: 20px;
    height: var(--form-field-height);
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    color: var(--color-text-light-2);
}

form button {
    background: #322C27;
    border: 1px solid #FFF0CA;
    color: #FFF0CA;
}

.active-effect-sheet .effect-change .mode select {
    color: #FFFFFF;
    width: 100%;
}


.tidy5e.sheet.actor .ability-scores .ability .ability-mod,
.tidy5e.sheet.actor .ability-scores .ability .ability-save {
    opacity: 1;
    border-radius: 1px;
    background: var(--color-background-dunkel);
    color: var(--primary-font);
}

.tidy5e.sheet.actor .ability-scores .ability .ability-modifiers {
    -webkit-box-shadow: 0 0 0 1px var(--tertiary-color);
    box-shadow: 0 0 0 1px var(--tertiary-color);
    border-radius: 1px;
}

.tidy5e.sheet.actor .tidy5e-navigation .item.active {
    background: var(--background);
    border: 1px solid var(--color-text-creme);
    border-bottom-color: transparent;
    color: var(--color-text-creme);
}

.tidy5eDark .tidy5e.sheet.actor .tidy5e-sheet {
    background: var(--background);
}

.tidy5e.sheet.actor .tidy5e-header {
    background-color: var(--color-background-braun);
}

body.-emu .dialog .tabs a.active,
body.-emu .dialog .sheet-tabs a.active,
body.-emu #sidebar .tabs a.active,
body.-emu #sidebar .sheet-tabs a.active,
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) .tabs a.active,
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) .sheet-tabs a.active,
body.-emu #module-management .list-filters a.active,
body.-emu .dialog button.active,
body.-emu #sidebar button.active,
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) button.active,
body.-emu #menu #menu-items li.active,
body.-emu #sidebar [data-tab="combat"] #combat-controls .active.combat-control,
body.-emu .sidebar-popout[id="combat-popout"] .window-content [data-tab="combat"] #combat-controls .active.combat-control,
body.-emu .filepicker.window-app .filepicker-body .filepicker-header .display-modes .active.display-mode,
body.-emu .window-app[id*="JournalEntry-"] a.active.editor-edit,
body.-emu .active.alwayshp-btn,
body.-emu #sidebar #combat .active.add-temporary,
body.-emu .sidebar-popout #combat .active.add-temporary,
body.-emu #specials-config .fxmaster .directory-header a.active,
body.-emu ul.command-menu li.active,
body.-emu #token-action-hud button.active.tah-title-button,
body.-emu #token-action-hud .tah-action button.active,
body.-emu #sidebar .token-mold>label>span.active,
body.-emu .sidebar-popout .token-mold>label>span.active,
.-emu-layout body.-emu .sheet[id*="activeeffect-sheet-"] .effects-header a.active,
body.-emu .sheet[id*="activeeffect-sheet-"] .-emu-layout .effects-header a.active,
.-emu-layout body.-emu .window-app[id*="cards-sheet-"] .cards-header a.active,
body.-emu .window-app[id*="cards-sheet-"] .-emu-layout .cards-header a.active,
.-emu-layout body.-emu .window-app[id*="rolltable-sheet-"] .table-results .table-header a.active,
body.-emu .window-app[id*="rolltable-sheet-"] .table-results .-emu-layout .table-header a.active,
.-emu-layout body.-emu .dice-so-nice section.content .settings-list .sfxs-list .sfx-header a.active,
body.-emu .dice-so-nice section.content .settings-list .sfxs-list .-emu-layout .sfx-header a.active,
.-emu-layout body.-emu .sheet[id*="activeeffect-sheet-"] .changes-list li a.active,
body.-emu .sheet[id*="activeeffect-sheet-"] .changes-list .-emu-layout li a.active,
.-emu-layout body.-emu .window-app[id*="cards-sheet-"] .cards .card a.active,
body.-emu .window-app[id*="cards-sheet-"] .cards .-emu-layout .card a.active,
.-emu-layout body.-emu .window-app[id*="rolltable-sheet-"] .table-results .table-result a.active,
body.-emu .window-app[id*="rolltable-sheet-"] .table-results .-emu-layout .table-result a.active,
.-emu-layout body.-emu .dice-so-nice section.content .settings-list .sfxs-list .sfx a.active,
body.-emu .dice-so-nice section.content .settings-list .sfxs-list .-emu-layout .sfx a.active,
body.-emu .dialog .directory .directory-item.folder .folder-header .active.create-folder,
body.-emu .dialog .directory .directory-item.folder .folder-header .active.create-entity,
body.-emu #sidebar .directory .directory-item.folder .folder-header .active.create-folder,
body.-emu #sidebar .directory .directory-item.folder .folder-header .active.create-entity,
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) .directory .directory-item.folder .folder-header .active.create-folder,
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) .directory .directory-item.folder .folder-header .active.create-entity,
body.-emu .dialog .directory .directory-item .active.create-folder,
body.-emu .dialog .directory .directory-item .active.create-document,
body.-emu #sidebar .directory .directory-item .active.create-folder,
body.-emu #sidebar .directory .directory-item .active.create-document,
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) .directory .directory-item .active.create-folder,
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) .directory .directory-item .active.create-document,
body.-emu #navigation .active#nav-toggle,
.-emu-layout body.-emu .window-app .window-header>a.active,
.-emu-layout body.-emu .window-app .window-header a.active.header-button,
.-emu-layout body.-emu #sidebar [data-tab="chat"] #chat-log .message .active.button.message-delete,
.-emu-layout body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-log .message .active.button.message-delete,
.-emu-layout body.-emu #sidebar [data-tab="chat"] #chat-controls .chat-control-icon .active.fa-dice-d20,
.-emu-layout body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-controls .chat-control-icon .active.fa-dice-d20,
.-emu-layout body.-emu #sidebar [data-tab="chat"] #chat-controls .control-buttons a.active,
.-emu-layout body.-emu .sidebar-popout[id="chat-popout"] .window-content [data-tab="chat"] #chat-controls .control-buttons a.active,
body.-emu #sidebar [data-tab="combat"] .combat-tracker-header .encounters a.active,
body.-emu #sidebar [data-tab="combat"] .combat-tracker-header .encounter-controls a.active,
body.-emu .sidebar-popout[id="combat-popout"] .window-content [data-tab="combat"] .combat-tracker-header .encounters a.active,
body.-emu .sidebar-popout[id="combat-popout"] .window-content [data-tab="combat"] .combat-tracker-header .encounter-controls a.active,
body.-emu #sidebar [data-tab="combat"] #combat-tracker .combatant .active.combatant-control,
body.-emu .sidebar-popout[id="combat-popout"] .window-content [data-tab="combat"] #combat-tracker .combatant .active.combatant-control,
body.-emu #sidebar [data-tab="playlists"] .directory-list .playlist-header .sound-controls .active.sound-control,
body.-emu #sidebar [data-tab="playlists"] .directory-list .sound .sound-controls .active.sound-control,
body.-emu .sidebar-popout[id="playlists-popout"] .window-content [data-tab="playlists"] .directory-list .playlist-header .sound-controls .active.sound-control,
body.-emu .sidebar-popout[id="playlists-popout"] .window-content [data-tab="playlists"] .directory-list .sound .sound-controls .active.sound-control,
body.-emu #sidebar [data-tab="playlists"] #currently-playing .sound .active.sound-control,
body.-emu .sidebar-popout[id="playlists-popout"] .window-content [data-tab="playlists"] #currently-playing .sound .active.sound-control,
body.-emu .window-app[id*="chat-popout-"] .chat-message .chat-card .die-result-overlay-br button.active,
body.-emu #sidebar [data-tab="chat"] #chat-log .chat-message .chat-card .die-result-overlay-br button.active,
body.-emu #dfcp-rt-buttons button.active,
body.-emu #specials-config .fxmaster .special-effects .controls a.active,
body.-emu div.permission-viewer a.active,
body.-emu #smalltime-app #displayContainer .active.arrow,
body.-emu #token-action-hud .active#tah-reposition,
body.-emu #token-action-hud .active#tah-categories,
body.-emu #sidebar .token-mold>a.active,
body.-emu .sidebar-popout .token-mold>a.active,
body.-emu #sidebar .sidebar-tab .directory-header .active.header-control,
body.-emu .sidebar-popout .sidebar-tab .directory-header .active.header-control,
body.-emu .dialog .tox .tox-tbtn.tox-tbtn--enabled,
body.-emu #sidebar .tox .tox-tbtn.tox-tbtn--enabled,
body.-emu .window-app:not([id*="Actor-"]):not([id*="Item-"]) .tox .tox-tbtn.tox-tbtn--enabled,
body.-emu #hotbar .macro.active,
body.-emu #hud .control-icon.active,
body.-emu #controls .control-tools .scene-control.active,
body.-emu #controls .control-tools .control-tool.active,
body.-emu #controls .control-tools .control-tool.toggle.active,
body.-emu #navigation #scene-list .scene.active,
body.-emu #navigation #scene-list .scene.view,
body.-emu #navigation #scene-list .scene.active:not(.gm),
body.-emu #navigation #scene-list .scene.view:not(.gm),
body.-emu #sidebar #sidebar-tabs>.item.active,
body.-emu #sidebar #sidebar-tabs>.collapse.active,
body.-emu .sidebar-popout #sidebar-tabs>.item.active,
body.-emu .sidebar-popout #sidebar-tabs>.collapse.active,
.-emu-layout.-emu-subtle-layout body.-emu #sidebar:hover #emu-sidebar-lock,
.-emu-layout.-emu-subtle-layout body.-emu #sidebar.is-locked #emu-sidebar-lock,
body.-emu #sidebar [data-tab="combat"] #combat-tracker .combatant.active,
body.-emu .sidebar-popout[id="combat-popout"] .window-content [data-tab="combat"] #combat-tracker .combatant.active,
body.-emu .filepicker.window-app .filepicker-body.private .current-dir button.privacy,
body.-emu #df-curvy-walls-tools .control-tool.active,
body.-emu #lmrtfy.lmrtfy-parchment .lmrtfy-actor-avatars input:checked+label {
    background-color: var(--color-background-dunkel);
    border: 1px solid #F2AB76;
    text-shadow: none;
}

/*--------------------------------- Simple Weather ---------------------------------*/
#weather-app #rightHandle {
    background: url(../images/denim-dark-090.webp) repeat;
    background-color: var(--color-background-dunkel-mild);
}

#weather-app #displayContainer-weatherapp {
    border-radius: 1px;
}

#weather-app #high-low,
#wind,
#weather-text,
#configWeather {
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;

    color: var(--primary-font);
    text-shadow: 0px 0px 0px rgb(0 0 0 / 50%);
}

#weather-app #displayContainer-weatherapp {
    background: #322C27;
    font-family: "Calibri Bold", sans-serif;
    font-weight: bold;

    box-shadow: none;
}

#weather-app #current-temp {
    color: #FFF0CA;
}


/* ---------------------------------Monk's Common Display ---------------------------------*/
#common-display-toolbar .common-display-button.toggle {
    background: var(--color-background-dunkel);
    border: 1px solid #F2AB76;
}

/*--------------------------------- xxx ---------------------------------*/
.differences-list .module-name {
    background-color: #322C27;
    color: #FFF0CA;
    margin: 2px 0 0 0;
}

.differences-list {
    border: 1px solid #808080;
    border-radius: 1px;
    background-color: #232323;
}

nav.damage-log-nav.tabs {
    flex: 0;
    margin: 0 0 5px;
    border-bottom: none;
    box-shadow: none;
}

.chat-message .table-draw .table-description {
    border-top: 1px solid var(--color-border-light-primary);
    color: var(--primary-font);
    font-size: var(--font-size-12);
    padding: 5px 0;
}

/*--------------------------------- Action Pack ---------------------------------*/
.action-pack__item .item-summary a {
    color: var(--primary-font);
}

/*--------------------------------- Icons --------------------------------- */
.fa-coins:before {
    content: "\f51e";
    color: var(--color-text-gelb);
}

.fa-cog:before,
.fa-gear:before {
    content: "\f013";
    color: #FFF0CA;
}

.fa-check:before {
    content: "\f00c";
    color: #77CE77;
}

.fa-mortar-pestle:before {
    content: "\f5a7";
    color: #FFF0CA;
}

.fa-hat-wizard:before {
    content: "\f6e8";
    color: #FFF0CA;
}

.fa-lock-open:before {
    content: "\f3c1";
    color: var(--primary-font);
}

.fa-lock:before {
    content: "\f023";
    color: var(--primary-font);
}

.fa-close:before,
.fa-multiply:before,
.fa-remove:before,
.fa-times:before,
.fa-xmark:before {
    content: "\f00d";
    color: #FF6161;
}

/* ----causes issues with combat tracker readability ------
.fa-skull:before {
    content: "\f54c";
    color: var(--primary-font);
}
*/

.fa-angle-double-down:before,
.fa-angles-down:before {
    content: "\f103";
    color: #FF6161;
}

.fa-angle-double-up:before,
.fa-angles-up:before {
    content: "\f102";
    color: #77CE77;
}

.fa-heart:before {
    content: "\f004";
    color: var(--color-text-rot);
}

.fa-eye:before {
    content: "\f06e";
    color: var(--color-text-tuerkis);
}

.fa-heart-broken:before,
.fa-heart-crack:before {
    content: "\f7a9";
    color: var(--color-orange);
}

.fa-shield-virus:before {
    content: "\e06c";
    color: var(--color-text-gruen);
}

.tidy5e.sheet.actor .traits svg path {
    fill: var(--color-text-creme);
}

.fa-hammer:before {
    content: "\f6e3";
    color: var(--color-text-blau);
}

.fa-comment:before {
    content: "\f075";
    color: var(--color-text-gelb);
}

.fa-add:before,
.fa-plus:before {
    content: "\2b";
    color: var(--color-text-gruen);
}

.fa-minus:before,
.fa-subtract:before {
    content: "\f068";
    color: var(--color-text-rot);
}

.fa-table-cells-large:before,
.fa-th-large:before {
    content: "\f009";
    color: var(--color-text-gelb);
}

.fa-dice-six:before {
    content: "\f526";
    color: var(--color-text-creme);
}

.fa-filter:before {
    content: "\f0b0";
    color: #69B7FF;
}

.fa-magnifying-glass:before,
.fa-search:before {
    content: "\f002";
    color: #FFF0CA;
}

.fa-weight-hanging:before {
    content: "\f5cd";
    color: #FFF0CA;
}

.fa-bolt:before,
.fa-zap:before {
    content: "\f0e7";
    color: #FFF0CA;
}

.fa-bed:before {
    content: "\f236";
    color: var(--color-text-gelb);
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: "\f252";
    color: var(--color-orange);
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: "\f253";
    color: var(--color-text-blau);
}

.fa-temperature-high:before {
    content: "\f769";
    color: var(--color-text-rot);
}

.fa-temperature-low:before {
    content: "\f76b";
    color: var(--color-text-blau);
}

.fa-wind:before {
    content: "\f72e";
    color: var(--color-text-tuerkis);
}

.fa-bars:before,
.fa-navicon:before {
    content: "\f0c9";
    color: var(--color-text-creme);
}

.fa-lightbulb:before {
    content: "\f0eb";
    color: var(--color-text-gelb);
}

.fa-passport:before {
    content: "\f5ab";
    color: var(--color-text-blau);
}

.fa-mountain:before {
    content: "\f6fc";
    color: #FFFFFF;
}

.fa-chain-broken:before,
.fa-chain-slash:before,
.fa-link-slash:before,
.fa-unlink:before {
    content: "\f127";
    color: var(--color-text-creme);
}

.fa-sun:before {
    content: "\f185";
    color: var(--color-text-gelb);
}

.fa-arrow-alt-circle-right:before,
.fa-circle-right:before {
    content: "\f35a";
    color: var(--color-text-gelb);
}

.fa-random:before,
.fa-shuffle:before {
    content: "\f074";
    color: var(--color-text-blau);
}

.fa-compress-arrows-alt:before,
.fa-minimize:before {
    content: "\f78c";
    color: var(--color-text-tuerkis);
}

.fa-ban:before,
.fa-cancel:before {
    content: "\f05e";
    color: var(--color-text-rot);
}

.fa-play:before {
    content: "\f04b";
    color: var(--color-text-gruen);
}

.fa-square:before {
    content: "\f0c8";
    color: var(--color-text-rot);
}

.fa-folder-open:before {
    content: "\f07c";
    color: var(--color-text-gelb);
}

.fa-volume-high:before,
.fa-volume-up:before {
    content: "\f028";
    color: var(--color-text-blau);
}

.fa-cloud-sun:before {
    content: "\f6c4";
    color: var(--color-text-tuerkis);
}

.fa-atlas:before,
.fa-book-atlas:before {
    content: "\f558";
    color: var(--color-text-blau);
}

.fa-cogs:before,
.fa-gears:before {
    content: "\f085";
    color: #DDDDDD;
}

.fa-music:before {
    content: "\f001";
    color: #C6A8F8;
}

.fa-cards:before {
    content: "\e3ed";
    color: var(--color-orange);
}

.fa-swords:before {
    content: "\f71d";
    color: var(--color-text-rot);
}

.fa-comments:before {
    content: "\f086";
    color: var(--primary-font);
}

.fa-map:before {
    content: "\f279";
    color: var(--color-text-gruen);
}

.fa-suitcase:before {
    content: "\f0f2";
    color: var(--color-text-tuerkis);
}

.fa-table-list:before,
.fa-th-list:before {
    content: "\f00b";
    color: #FF8FE0;
}

.fa-gamepad:before {
    content: "\f11b";
    color: var(--color-text-gelb);
}

.fa-cube:before {
    content: "\f1b2";
    color: var(--color-text-blau);
}

.fa-globe:before {
    content: "\f0ac";
    color: var(--color-text-gruen);
}

.fa-users:before {
    content: "\f0c0";
    color: #A8B6FF;
}

.fa-hiking:before,
.fa-person-hiking:before {
    content: "\f6ec";
    color: var(--primary-font);
}

.fa-hands-helping:before,
.fa-handshake-angle:before {
    content: "\f4c4";
    color: #FF8FE0;
}

.fa-door-closed:before {
    content: "\f52a";
    color: var(--color-text-rot);
}

.fa-book:before {
    content: "\f02d";
    color: #A1D2FF;
}

.fa-wifi-3:before,
.fa-wifi-strong:before,
.fa-wifi:before {
    content: "\f1eb";
    color: var(--color-orange);
}

.fa-list-squares:before,
.fa-list:before {
    content: "\f03a";
    color: var(--primary-font);
}

.fa-landmark:before {
    content: "\f66f";
    color: #D9F276;
}

.fa-folder-blank:before,
.fa-folder:before {
    content: "\f07b";
    color: var(--color-text-gelb);
}

.fa-pastafarianism:before,
.fa-spaghetti-monster-flying:before {
    content: "\f67b";
    color: var(--color-text-rot);
}

.fa-arrows-rotate:before,
.fa-refresh:before,
.fa-sync:before {
    content: "\f021";
    color: var(--primary-font);
}

.fa-image:before {
    content: "\f03e";
    color: var(--color-text-blau);
}

.fa-rabbit-fast:before,
.fa-rabbit-running:before {
    content: "\f709";
    color: var(--color-text-blau);
}

.fa-shield-alt:before,
.fa-shield-halved:before {
    content: "\f3ed";
    color: var(--color-text-gelb);
}

.fa-book-open:before {
    content: "\f518";
    color: var(--color-text-gelb);
}

.fa-circle-info:before,
.fa-info-circle:before {
    content: "\f05a";
    color: #0EE77F;
}

.fa-camera-alt:before,
.fa-camera:before {
    content: "\f030";
    color: #C3A7FF;
}

.fa-home-alt:before,
.fa-home-lg-alt:before,
.fa-home:before,
.fa-house:before {
    content: "\f015";
    color: var(--color-text-gelb);
}

.fa-fist-raised:before,
.fa-hand-fist:before {
    content: "\f6de";
    color: var(--color-text-rot);
}

.fa-arrow-right-rotate:before,
.fa-arrow-rotate-forward:before,
.fa-arrow-rotate-right:before,
.fa-redo:before {
    content: "\f01e";
    color: var(--color-text-tuerkis);
}

.fa-trash-alt:before,
.fa-trash-can:before {
    content: "\f2ed";
    color: var(--color-text-rot);
}

.fa-cart-flatbed:before,
.fa-dolly-flatbed:before {
    content: "\f474";
    color: var(--primary-font);
}

.fa-droplet:before,
.fa-tint:before {
    content: "\f043";
    color: var(--color-text-blau);
}

.anonymous-replaced {
    background-color: transparent;
}

.fa-circle-plus:before,
.fa-plus-circle:before {
    content: "\f055";
    color: var(--color-text-gruen);
}

.fa-bookmark:before {
    content: "\f02e";
    color: var(--color-orange);
}

.fa-pencil-alt:before,
.fa-pencil:before {
    content: "\f303";
    color: var(--primary-font)
}

.fa-face-grin:before,
.fa-grin:before {
    content: "\f580";
    color: var(--primary-font);
}

/*Rightclick Creature Context Menu*/